<br/>
<br/>
<br/>
	<div class="container">
	<h1>START A NEW TREE ADVENTURE </h1>
		<%= simple_form_for @course, url: admin_courses_path do |f| %>
		<div class="group">
				<%= f.input :title %>
				<span class="highlight"></span>
				<span class="bar"></span>
				<%= f.label :title %>	
		</div>
		<div class="group">
			<%= f.input :description %>
			<span class="highlight"></span>
			<span class="bar"></span>

		</div>
		<div class ="group">
			<%= f.input :points %>
			<span class="highlight"></span>
			<span class="bar"></span>
		</div>
		<div class ="group">
			<%= f.input :image %>
			<span class="highlight"></span>
			<span class="bar"></span>
		</div>
		<button id="button-get-position" class="button-demo">Get current position</button>
		<br/>
		</button>
 
 		<%= f.submit "Create", class: "btn btn-primary" %>
		<%end%>
		</div>

	<div id="map"></div>
	    <script>
	      function initMap() {
	        // var map = new google.maps.Map(document.getElementById('map'), {
	        //   center: {lat: -34.397, lng: 150.644},
	        //   zoom: 6
	        // });
	        // var infoWindow = new google.maps.InfoWindow({map: map});
	        if (navigator.geolocation) {
	          navigator.geolocation.getCurrentPosition(function(position) {
	            var pos = {
	              lat: position.coords.latitude,
	              lng: position.coords.longitude
	            };

	            infoWindow.setPosition(pos);
	            infoWindow.setContent('Location found.');
	            map.setCenter(pos);
	          }, function() {
	            handleLocationError(true, infoWindow, map.getCenter());
	          });
	        } else {
	          // Browser doesn't support Geolocation
	          handleLocationError(false, infoWindow, map.getCenter());
	        }
	      }
	      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	        infoWindow.setPosition(pos);
	        infoWindow.setContent(browserHasGeolocation ?
	                              'Error: The Geolocation service failed.' :
	                              'Error: Your browser doesn\'t support geolocation.');
	      }
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj2-DK92b4J79UdboFXeJhB2v-1f-r-6k&callback=initMap">
	    </script>
